.createplaylist-main {
  background-color: rgba(29, 27, 32, 1);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  height: 85vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.createplaylist-header {
  width: 34vw;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  height: 5vh;
  color: rgba(202, 196, 208, 1);
}

.createplaylist-header p {
  margin: 0;
}

.createplaylist-close-btn {
  cursor: pointer;
}

.createplaylist-details {
  height: 75vh;
  width: 34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createplaylist-logo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createplaylist-logo {
  height: 150px;
  width: 150px;
  border-radius: 18px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.actualImage {
  height: 150px;
  width: 150px;
  border-radius: 18px;
}

.createplaylist-form label {
  font-size: small;
  position: relative;
  left: 16px;
  top: 9px;
  z-index: 1;
  background-color: rgba(29, 27, 32, 1);
  padding-left: 3px;
  padding-right: 3px;
  color: rgba(202, 196, 208, 1);
}

.createplaylist-name {
  border: 1px solid #cac4d0;
  border-radius: 5px;
  height: 3em;
}

.createplaylist-description {
  border: 1px solid #cac4d0;
  border-radius: 5px;
  height: 6em;
}

.createplaylist-form input {
  background-color: transparent;
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-left: 16px;
  border: none;
  margin-top: 2px;
  width: 95%;
  height: 95%;
  outline: none;
  color: rgba(202, 196, 208, 1);
}

.createplaylist-description-input {
  width: 96%;
  height: 82%;
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 1em;
  padding-left: 1em;
  background: transparent;
  color: rgba(202, 196, 208, 1);
  border: none;
  resize: none;
}

.createplaylist-addsong {
  height: 3em;
  display: flex;
  align-items: center;
}

.createplaylist-addsong a {
  text-decoration: none;
  padding-top: 3px;
  color: #cac4d0;
}

.createplaylist-addsong p {
  font-size: 14px;
  margin-left: 8px;
}

.addsong-icon {
  color: rgba(208, 188, 255, 1);
  width: 30px;
  height: 30px;
}

.createplaylist-create-btn {
  width: 12em;
  height: 2em;
  margin-top: 1em;
  border: none;
  border-radius: 2em;
  background-color: rgb(208, 188, 255);
  cursor: pointer;
  color: rgba(56, 30, 114, 1);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.createplaylist-form-submit {
  display: flex;
  justify-content: center;
}

.createplaylist-error {
  margin: 0;
  font-size: 14px;
}

.createplaylist-playlistname-main {
  height: 5em;
  position: relative;
}

.createplaylist-description-main {
  height: 10em;
}

.confirmationdialog-main {
  width: 24em;
  height: 10em;
  position: absolute;
  top: 2em;
  left: 3em;
  z-index: 2;
  border-radius: 5px;
  background-color: rgba(33, 31, 38, 1);
  background: radial-gradient(#293755 0%, #0d1927 100%);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
}

.confirmation-dialog-message {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-dialog-message p {
  margin: 0;
  font-size: 15px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.dialog-divider {
  color: rgba(73, 69, 79, 1);
  opacity: 20%;
  width: 21em;
}

.confirmation-dialog {
  display: flex;
  justify-content: center;
}

.confirmation-dialog-submit-btn {
  width: 12em;
  height: 2em;
  margin-top: 1em;
  border: 1px solid rgba(147, 143, 153, 1);
  border-radius: 2em;
  background-color: transparent;
  cursor: pointer;
  color: rgba(242, 184, 181, 1);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.confirmation-dialog-discard-btn {
  width: 12em;
  height: 2em;
  margin-top: 1em;
  border: none;
  border-radius: 2em;
  background-color: rgba(242, 184, 181, 1);
  cursor: pointer;
  color: rgba(140, 29, 24, 1);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.confirmation-dialog-btns {
  height: 70%;
}
