{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "jsxSingleQuote": false,
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": true,
        "useTabs": false,
        "endOfLine": "auto"
      }
    ],
    "react/function-component-definition": [
      "warn",
      { "namedComponents": "function-declaration" }
    ],
    "react/jsx-pascal-case": "warn",
    "react/prop-types": "warn"
  }
}
