.leftmenu {
  width: 18%;
  height: 100%;
  background: #010f19;
  padding: 15px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logocontainer {
  padding: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

.divider {
  width: 92%;
  border: 1px solid #49454f;
}

.account_setting {
  height: 65px;
  display: flex;
  flex-direction: row;
  background: #4f378b;
  border-radius: 18px;
  position: relative;
  padding: 5px 0px;
}

.account_image_details {
  width: 100%;

  padding: 5px 0px 16px 16px;

  display: flex;

  flex-direction: row;
}

.img1 {
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

.account_image {
  width: 45px;
  height: 45px;
  position: relative;
}

.account_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 134px;
  height: 45px;
  position: relative;
  padding: 0px 10px;
}

.account_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.account_email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.25px;
  color: #cac5cd;
}

.account_edit {
  color: white;
  position: relative;
  top: 35px;
  right: 5px;
}

.MenuContainer {
  margin: 5px 0px;
  position: relative;
}

li {
  height: 45px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

.highlighted-button {
  width: 180px;
  height: 45px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  background: #030109;
  border: 1px solid #49454f;
  border-radius: 14px;
  display: flex;
  align-items: center;
}

.account_image_details {
  width: 100%;
  padding: 5px 0px 16px 16px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}
.list_icon {
  color: #e6e0e9;
}
.list_name {
  color: #e6e0e9;
  position: relative;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.about_the_app {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: white;
  position: relative;
  padding: 0px 10px;
  color: #aea9b1;
}

.about_us {
  font-family: "Roboto", sans-serif;
  display: flex;
  position: relative;
  padding: 16px;
  color: #e6e0e9;
  font-size: 5px 10px;
}

.divider_last {
  left: 36px;
  right: 36px;
  top: 76px;
  border: 1px solid #49454f;
}

.logout {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.logout p {
  color: #d0bcff;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
}

@media (max-width: 600px) {
  .leftmenu {
    width: 47%;
    padding: 10px;
    gap: 8px;
  }

  .logocontainer {
    font-size: 16px;
    line-height: 24px;
  }

  .divider {
    top: 60px;
  }

  .account_setting {
    width: 90%;
    height: auto;
    align-items: center;
  }

  .account_image_details {
    padding: 5px 0px 8px 8px;
  }

  .img1 {
    width: 40px;
    height: 40px;
  }

  .account_details {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0px;
    margin-top: 5px;
  }

  .account_name {
    font-size: 16px;
    line-height: 24px;
  }

  .account_email {
    font-size: 10px;
    line-height: 16px;
  }

  .account_edit {
    position: relative;
    top: 38px;
  }

  .MenuContainer {
    display: flex;
    justify-content: flex-start;
    margin: 2px 0px;
  }

  li {
    width: 180px;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
  }

  .highlighted-button {
    width: 100%;
    height: auto;
  }

  .account_image_details {
    padding: 5px 0px 8px 8px;
  }

  .list_icon {
    font-size: 12px;
  }

  .list_name {
    font-size: 10px;
    left: 12px;
  }

  .about_the_app {
    font-size: 8px;
    padding: 0px;
  }

  .about_us {
    font-size: 4px;
    padding: 8px;
  }

  .divider_last {
    top: 60px;
  }

  .logout {
    height: 40px;
  }

  .logout p {
    font-size: 12px;
  }
}
