.myplaylist-container{

    width: 100%;

    height: 100vh;

    position: relative;

    overflow: hidden;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

  }

 

  .background{

    position: absolute;

    /* with respect to the parent so absolute  */

    top: 0;

    left: 0;

    bottom: 0;

    right:0;

    /* this will strectch around all the background of webpage */

    background:#000000;

    z-index: -1;

  }